[user]
	name = James Wang
	email = veriathon@gmail.com

[color]
	ui = auto
	branch = auto
	status = auto
	diff = auto
[core]
	editor = vim
	autocrlf = input
[alias]
	last = log -1 HEAD
	lg = log --oneline --decorate --all --graph -30
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
# Machine-specific settings belong in ~/.gitconfig.local (untracked),
# NOT here. Do NOT add absolute/machine paths back into this tracked file.
[include]
	path = .gitconfig.local
